
.bg-dark{
  background: rgba(27, 27, 27, 0.65);
  backdrop-filter: blur(10px);
  transition: background .5s ease-in-out;
}

.hideNav {
  transition: opacity .5s ease-in;
  opacity: 0;
}

.showNav {
  transition: opacity .5s ease-in;
  opacity: 1;
}