/*  VIDEO-HERO LANGIND */
.showcase {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: #fff;
  padding: 0 1.3rem;
  box-sizing: border-box;
  margin: 0;
  line-height: 1.5;
  padding: 0;
}

.video_container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background: var(--primary-color) url("../static/naias-promo-screenshot.png")
    no-repeat center center/cover;
}

.video_container__video {
  min-width: 100%;
  user-select: none;
  min-height: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  object-fit: cover;
  -o-object-fit: cover;
  z-index: -2;
}

.video_container:after {
  content: "";
  z-index: -1;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.3);
  position: absolute;
}

.showcase_content__undertext {
  font-family: var(--secondary-title-font);
  font-size: 1.2rem;
  position: absolute;
  width: 100%;
  margin-top: 1rem;
  left: 50%;
  color: white;
  transform: translate(-50%, -50%);
}

.showcase_content__logo {
  line-height: 1.2;
  margin-bottom: 0.5rem;
}

/* ////////////////////////// */
/*  DREAM IT */
.Dream-it {
  background-color: var(--white-color);
  display: block;
  position: static;
  margin-top: -8.5rem;
  padding-top: 2rem;
  padding-bottom: 13rem;
  width: 100%;
}

.content__subtitle {
  margin-bottom: 0.15rem;
  margin-top: 3rem;
}

.Dream-it__title {
  font-family: var(--greek-title-font);
  display: flex;
  font-size: 2.9rem;
  justify-self: center;
}

.Dream-it__quote {
  margin-top: 3rem;
}

.Dream-it__prolog{
  font-size: 1.1rem;
  margin-top: 5rem;
}

.Dream-it__content {
  margin-top: 6rem;
  margin-left: 2rem;
  margin-right: 2rem;
  font-family: var(--greek-paragraph-font);
}

.responsive-img {
  display: block;
  width: 100%;
  height: auto;
}

/* ////////////////////////// */
/*  LIVE IT */

.Live-it {
  position: relative;
  width: 100%;
  background-color: var(--primary-color);
  text-align: center;
  padding-top: 5rem;
  color: white;
}

.Live-it__imgs{
  display: flexbox;
  display: -ms-flexbox;
  justify-content: center;
  margin-top: -15rem;

}

.Live-it__cupcakes {
  width: 15rem;
  margin-top: -12rem;
  margin-right: 6rem;
}

.Live-it__ring {
  width: 16.5rem;
  margin-left: 2.5rem;
}

.Live-it__title {
  font-family: var(--title-font);
  font-size: 2.9rem;
  margin: 0 2rem;
  margin-bottom: 3rem;
}
