/* ////////////////////////// */
.content__subtitle {
  margin-bottom: 0.15rem;
  margin-top: 3rem;
}
.responsive-img {
  display: block;
  width: 100%;
  height: auto;
}

/* ////////////////////////// */
/*  LIVE IT */

.Love-it {
  position: relative;
  width: 100%;
  background-color: var(--primary-color);
  text-align: center;
  padding-top: 5rem;
  color: white;
}

.Love-it__imgs{
  display: flexbox;
  display: -ms-flexbox;
  justify-content: center;
  margin-top: -15rem;

}

.Love-it__cupcakes {
  width: 15rem;
  margin-top: -12rem;
  margin-right: 6rem;
}

.Love-it__ring {
  width: 16.5rem;
  margin-left: 2.5rem;
}

.Love-it__title {
  font-family: var(--title-font);
  font-size: 2.7rem;
  font-weight: 500;
  letter-spacing: -1px;
  margin: 0 2rem;
  margin-bottom: 1.5rem;
}

.Love-it__undertitle {
  margin-bottom: 3rem;
}
